.main {
    background-color:blanchedalmond
}

.heading {
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: red;
    text-align: center;
    text-decoration:underline;
}

.list-group {
    margin: 1rem;
}

.button {
    padding: 1.5rem
}